
.background {
  background-color: #061561;
  color: white;
}

.content-container {
  display: flex;
  align-items: center;
}

img {
  width: 40vw;
  height: 40vh;
  margin: 10vw;
  border: 2px solid wheat;
}

.text-container {
  margin-left: 20px; 
}

.comma {
  color: #f36f2b;
  font-size: 12vh; 
  margin-right: 10px; 
}

p {
  margin: 10px;
}

.name-container {
  margin-top: 10px;
}

.icon {
  margin-right: 10px; 
}

.read-more {
  margin-left: 5px; 
}

.read-more-container {
  display: flex;
  align-items: center;
}

/* Media queries */
@media screen and (max-width: 768px) {
  img {
      width: 80vw; 
      height: auto; 
      margin: 5vw;
  }

  .text-container {
      margin-left: 10px; 
  }

  .comma {
      font-size: 8vh; 
  }
}

@media screen and (max-width: 576px) {
  .content-container {
      flex-direction: column; 
      align-items: center; 
  }

  img {
      width: 90vw; 
      height: auto; 
      margin: 5vw auto; 
  }

  .text-container {
      margin-left: 0; 
      text-align: center; 
  }

  .comma {
      font-size: 6vh; 
  }

  .read-more-container {
      justify-content: center; 
  }
}
